{% load static %}

<!doctype html>
<html>

<head>
    {% block title %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="flex justify-center ">
        <div class="container max-w-[800px]">
            <nav class="flex space-x-8 justify-center py-4 mb-8">
                <a href="{% url 'ranking' %}" class="hover:text-blue-600 font-semibold">Rangliste</a>
                <a href="{% url 'match-list' %}" class="hover:text-blue-600 font-semibold">Partien</a>
                <a href="{% url 'player-list' %}" class="hover:text-blue-600 font-semibold">Spieler</a>
            </nav>
            <div class="w-full px-4 pb-8 space-y-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>