{% extends '../base.html' %}

{% block content %}
<div class="w-full p-4">
    <h2 class="font-bold text-4xl mb-16">Partie löschen</h2>

    <div>
        <p>Sicher, dass diese <span class="font-bold">Partie vom {{ match.date }}</span> endgültig gelöscht werden soll?
            Alle
            Spielergebnisse gehen für die teilnehmenden Spieler
            verloren!</p>
    </div>

    <form action="" method="post" class="flex-col space-y-8">
        {% csrf_token %}
        <input type="submit" value="Löschen" class="py-2 px-4 bg-black text-white rounded hover:cursor-pointer">
    </form>
</div>
{% endblock %}