{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex justify-between items-center">
    <h2 class="font-bold uppercase text-xl">Partie editieren</h2>
    <a href="{% url 'match-delete' match.pk %}">
        <div class="flex items-center py-1 px-2 text-white bg-black rounded text-sm">
            <i data-lucide="trash-2" class="w-4 h-4 mr-2"></i>
            Löschen
        </div>
    </a>
</div>
{% for message in messages %}
<div class="flex justify-center font-semibold text-lg text-green-600">
    {{ message }}
</div>
{% endfor %}
<div class="flex justify-center font-semibold text-lg text-red-600">
    {{ form.non_field_errors }}
</div>

<form action="" method="post" class="flex-col space-y-8">
    {% csrf_token %}
    <div class="md:grid md:grid-cols-2 md:gap-4 space-y-8 md:space-y-0">
        <div>
            <h2 class="text-center font-bold text-xl mb-4 md:mb-8">Team 1</h2>
            <div>
                {{ form.team_1_player_1|as_crispy_field }}
            </div>
            <div>
                {{ form.team_1_player_2|as_crispy_field }}
            </div>
            <div>
                {{ form.team_1_player_3|as_crispy_field }}
            </div>
        </div>
        <div>
            <h2 class="text-center font-bold text-xl mb-4 md:mb-8">Team 2</h2>
            <div>
                {{ form.team_2_player_1|as_crispy_field }}
            </div>
            <div>
                {{ form.team_2_player_2|as_crispy_field }}
            </div>
            <div>
                {{ form.team_2_player_3|as_crispy_field }}
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-center font-bold text-xl mb-4 md:mb-8">Punkte</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                {{ form.team_1_points|as_crispy_field }}
            </div>
            <div>
                {{ form.team_2_points|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="">
        {{ form.date|as_crispy_field }}
    </div>
    <input type="submit" value="Speichern" class="py-2 px-4 bg-black text-white rounded hover:cursor-pointer">
</form>
{% endblock %}